.weather {
  place-self: center;
  padding: 150px;
  border-radius: 25px;
  background: #640D5F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 20px;
  width: 800px;
  height: 800px;
  border-radius: 500px;
  box-sizing: border-box;
  position: relative;
}

.weather::before {
  content: "";
  position: absolute;
  height: 280px;
  width: 500px;
  background-color: #fff;
  right: -530px;
  border-radius: 0 10px 10px 0;
}
.weather::before::before {
  content: "";
  position: absolute;
  height: 280px;
  width: 500px;
  background-color: #000;
  right: -530px;
  border-radius: 0 10px 10px 0;
}
.weather::after {
  content: "";
  position: absolute;
  height: 280px;
  width: 500px;
  background-color: #fff;
  left: -530px;
  border-radius: 10px 0 0 10px;
}

.weather .search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather .search-bar input {
  height: 50px;
  border: none;
  border-radius: 40px;
  padding: 0 0 0 25px;
  color: #626262;
  background: #fff;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather_icon {
  height: 250px;
  width: 250px;
}

.temperature {
  color: #fff;
  font-size: 120px;
  line-height: 1;
  color: aqua;
}

.location {
  color: #fff;
  font-size: 42px;
  color: aqua;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 26px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 30px;
}

.weather-icon {
  width: 100px;
}

@media screen and (max-width: 900px) {
    .app {
    background-color: #F6D6D6;
    }
  .weather {
    width: 80%;
    border-radius: 20px;
    gap: 30px;
    padding: 60px;
    background-color: #000B58;
  }
  .temperature {
    font-size: 80px;
  }
}

@media screen and (max-width: 560px) {
    .app {
        background-color: #A1EEBD;
    }
  .weather {
    padding: 30px;
    gap: 20px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
    .app {
        background: #FBFBFB;
    }
  .weather {
    width: calc(100% - 40px);
    padding: 20px;
    box-sizing: border-box;
  }
  .temperature {
    font-size: 60px;
  }
  .location {
    font-size: 32px;
  }
  .weather-data {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .weather-data .col {
    justify-content: center;
  }
  .weather .search-bar {
    display: flex;
    width: 100%;
  }
  .weather .search-bar > input {
    width: calc(100% - 60px);
  }
}
